%li= link_to 'Base',       page_path('base'),       class:"btn btn-sm btn-link light px1 text-l-xs round-none"
%li= link_to 'Elements',   page_path('elements'),   class:"btn btn-sm btn-link light px1 text-l-xs round-none"
%li= link_to 'Modules',    page_path('modules'),    class:"btn btn-sm btn-link light px1 text-l-xs round-none"
%li= link_to 'Structure',  page_path('structure'),  class:"btn btn-sm btn-link light px1 text-l-xs round-none"
%li= link_to 'Typography', page_path('typography'), class:"btn btn-sm btn-link light px1 text-l-xs round-none"