%nav.skin-gray-dark.pos-rel.z10{ role: "navigation" }
  .container.flex
    %ul.list-inline.m0
      %li.m0= link_to 'Home', page_path('index'), class:"btn btn-link btn-link-dark link-secondary m0"
      %li.m0= link_to 'Typography Test', page_path('type_test'), class:"btn btn-link btn-link-dark link-secondary m0"
      %li.m0= link_to 'Grid', page_path('grid'), class:"btn btn-link btn-link-dark link-secondary m0"
      %li.m0= link_to 'Html random elements', page_path('html_test'), class:"btn btn-link link-secondary btn-link-dark m0"
      %li.m0= link_to 'Forms', page_path('forms'), class:"btn btn-link btn-link-dark link-secondary m0"
