%nav.global-nav{ role: "navigation" }
  .container.hidden-ltsm
    %ul.clearfix
      %li
        = link_to page_path('index'), class:"btn btn-md btn-link btn-dark pyhalf" do

          = image_tag "humble_kit_logo.svg",
                      class: "nav-logo vertical-mid",
                      title: "Humble Kit: Basic CSS utility belt",
                      data: { toggle: "tooltip", placement: "bottom", html: "true" }

      = render "layouts/shared/nav_links"
      %li
        = link_to "http://www.github.com/yorthehunter/humblekit",
                    target:"_blank",
                    class: "btn btn-md btn-link light",
                    title: "Humble Kit on Github &nbsp;<sup class='fa fa-external-link'></sup>",
                    data: { toggle: "tooltip", placement: "bottom", html: "true" } do
          %span.fa.fa-github.h4.m0.vertical-mid

  .container.flex.hidden-gtsm
    %ul.clearfix
      %li
        = link_to page_path('index') do
          = image_tag "humble_kit_logo.svg", class: "nav-logo"
      %li
        %a{ href: "#nav_mobile", data: { toggle: "collapse" } }
          %span.fa.fa-bars

    #nav_mobile.container.flex.hidden-gtsm.collapse
      %ul.list-nav
        = render "layouts/shared/nav_links"
        %li.right= link_to 'Humble Kit on GitHub <sup class="fa fa-external-link"></sup>'.html_safe, "http://www.github.com/yorthehunter/humblekit",
                        target:"_blank",
                        class: "btn btn-md btn-link light"