%nav.global-nav{ role: "navigation" }
  .container.hide_ltsm
    %ul.clearfix
      %li
        = link_to page_path('index') do
          = image_tag "humble_kit_logo.svg",
                      class: "nav-logo",
                      title:"Humble Kit: Basic CSS utility belt",
                      data: { toggle: "tooltip", placement: "bottom", html: "true" }

      = render "layouts/shared/nav_links"
      %li= link_to '<span class="fa fa-github h4"></span>'.html_safe, "http://www.github.com/yorthehunter/humblekit",
                      target:"_blank",
                      class:"btn btn-sm btn-link light px2 text-l-xs round-none",
                      title:"Humble Kit on Github &nbsp;<sup class='fa fa-external-link'></sup>",
                      data: { toggle: "tooltip", placement: "bottom", html: "true" }

  .container.flex.hide_gtsm
    %ul.clearfix
      %li
        = link_to page_path('index') do
          = image_tag "humble_kit_logo.svg", class: "nav-logo"
      %li
        %a{ href: "#nav_mobile", data: { toggle: "collapse" } }
          %span.fa.fa-bars

    #nav_mobile.container.flex.hide_gtsm.collapse
      %ul.list-nav
        = render "layouts/shared/nav_links"
        %li.right= link_to 'Humble Kit on GitHub <sup class="fa fa-external-link"></sup>'.html_safe, "http://www.github.com/yorthehunter/humblekit",
                        target:"_blank"