%header.text-c.skin-tangerine.py8
  .container
    %h1.f-xl.thin.dark.mb4 Elements
    %h2.h2.thin
      Styling and helper classes for basic html elements
    %aside
      %a.btn.btn-lg.btn-primary.btn-outline-dark{ href: "/styleguide/elements.html" } Elements in the Style Guide »

%article.m4
  .container.contain-to-sm
    %header
      %h3.h4.text-c SASS file structure
    %pre.language-
      %code.language-
        :preserve
          stylesheets
          └── elements
              |
              ├── _forms.scss
              ├── _links.scss
              ├── _lists.scss
              └── _tables.scss

- sections = [["forms",  "Inputs have basic styling out-of-the-box; stacked or inline."],
              ["links",  "Links are basic, but highly customizable via SASS variables"],
              ["lists",  "Styled by default, with some basic classes for extending."],
              ["tables", "Table classes combine to create several flexible layouts"]]
- sections.each do |section, description|
  %article.mb2
    %header.bg-gray-lightest
      .container.contain-to-md
        %h1.f-xl.color-gray-light.m0= section
    %aside.bg-gray-light.mb2.py1
      .container.contain-to-md
        %aside.ml1.right
          %a.btn.btn-sm.btn-secondary{ href: "##{section}_examples", data: { toggle: "collapse" } }
            Examples
            %span.fa.fa-caret-down
        %p.light.mb0= description
    %section.collapse.examples.mb8{ id: "#{section}_examples"}
      .container.contain-to-md
        = render "pages/examples/#{section}_examples"