%section.skin-tangerine.py8
  %header.text-c
    .container
      %h1.f-xl.thin.dark.mb4 Elements
      %h2.h2.thin
        Styling and helper classes for basic html elements
      %aside
        %a.btn.btn-primary{ href: "/styleguide/elements.html" } Style Guide »

- sections = ["forms", "links", "lists", "tables"]
- sections.each do |section|
  %article.mb2
    %header.bg-gray-lightest
      .container.contain-to-md
        %h1.f-xl.color-gray-light.m0= section
    %aside.bg-gray-light.mb2.py1
      .container.contain-to-md
        %aside.ml1.right
          %a.btn.btn-xs.btn-secondary{ href: "##{section}_examples", data: { toggle: "collapse" } }
            Examples
            %span.fa.fa-caret-down
        %p.light.mb0 Inputs have basic styling out-of-the-box; stacked or inline.
    %section.collapse.examples.mb8{ id: "#{section}_examples"}
      .container.contain-to-md
        = render "pages/examples/#{section}_examples"