%article.container
  %header
    %h1 Forms Tests

  %p ***** Nothing beyond this point is finished. *****


.container.contain-to_lg
  -#= render "pages/forms/simple_forms"
  %section.m4= render "pages/forms/default"

.container.contain-to_sm
  %section.m4= render "pages/forms/stacked"
  %section.m4= render "pages/forms/stacked", form_header: "Form with disabled inputs", disabled: true

.container.contain-to_lg
  %section.m4= render "pages/forms/aligned"
  %section.m4= render "pages/forms/sizing"


-#= render "pages/forms/simple_form_table"