%article.container
  %header
    %h1 Forms Tests

  -#= render "pages/forms/simple_forms"

  = render "pages/forms/default"

  = render "pages/forms/stacked"

  = render "pages/forms/aligned"

  = render "pages/forms/grouped"

  = render "pages/forms/sizing"

  = render "pages/forms/states"

  %form.form-stacked.grid._c
    .g._1-4.text-r
      .mb1.line3
        %label
          Some label here
      .mb1.line3
        %label
          Another label
      .mb1.line3
        %label
          Something something
    .g._1-2
      .mb1
        %input{type: "text"}
      .mb1
        %input{type: "text"}
      .mb1
        %input{type: "text"}


  %h2 Checkboxes and Radios
  %form
    %label
      %input{type: "checkbox", value: ""}/
      Here's option one.
    %label
      %input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
      Here's a radio button. You can choose this one...
    %label
      %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
      \...Or this one!
  %h2 Help text
  %form.form-stacked
    %fieldset
      %label Last Name
      %input{type: "text"}/
      %aside Block help text
  %h2 Buttons
  %form
    %a Anchor
    %button Button
    %input.btn.btn-primary{type: "submit", value: "Submit"}/
    %input.btn.btn-secondary{type: "button", value: "Input Button"}/
    %input.btn{type: "reset", value: "Reset"}/


-#= render "pages/forms/simple_form_table"