= render "layouts/shared/html_layout_nav"
.container.contain-to_lg
  %article.m4
    %header
      %h1.h2 Code
    = render "code/test_block"

  %article.m4
    %section.grid
      %header.g._1-1
        %h1.h2 Hero Image
      .g._1-1
        %header.overflow_0.scale30.scale20-md.scale15-sm.scale10-xs
          %img.img{alt:"hero kitten", src: "http://placekitten.com/g/1400/900"}

  %article.m4
    %header.m4
      %h1.h2 Lists
    %section.m4
      %h3 Definition List
      %dl
        %dt Definition List Title
        %dd This is a definition list division.
    %section.m4
      %h3 Ordered List
      %ol
        %li List Item 1
        %li List Item 2
        %li List Item 3

    %section.m4
      %h3 Unordered List
      %ul
        %li List Item 1
        %li List Item 2
        %li List Item 3

    %section.m4
      %h3 List unstyled
      %ul.list-unstyled
        %li List Item 1
        %li List Item 2
        %li List Item 3

    %section.m4
      %h3 List inline
      %ul.list-inline
        %li List Item 1
        %li List Item 2
        %li List Item 3

  %article.m4
    %header
      %h1.h2 Tables

    = render "pages/tables/table_test", table_class: "full-width mb4", table_header: "No added table styling"
    = render "pages/tables/table_test", table_class: "full-width table-bordered table-hover mb4", table_header: ".table-bordered .table-hover"
    = render "pages/tables/table_test", table_class: "table-striped table-hover mb4", table_header: ".table-striped .table-hover"
    = render "pages/tables/table_test", table_class: "table-condensed mb4", table_header: ".table-condensed"
    = render "pages/tables/table_test", table_class: "mb4 table-unstyled", table_header: ".table-unstyled"
