%section.skin-grape.py8
  %header.text-c
    .container
      %h1.f-xl.thin.dark.mb4 Modules
      %h2.h2.thin
        Reusable interface patterns
      %aside
        %a.btn.btn-sm.btn-skin{ href: "/styleguide/modules.html" } Modules in the Style Guide »

- sections = [["buttons","Buttons are highly customizable through SASS variables"]]
- sections.each do |section, description|
  %article.mb2
    %header.bg-gray-lightest
      .container.contain-to-md
        %h1.f-xl.color-gray-light.m0= section
    %aside.bg-gray-light.mb2.py1
      .container.contain-to-md
        %aside.ml1.right
          %a.btn.btn-xs.btn-secondary{ href: "##{section}_examples", data: { toggle: "collapse" } }
            Examples
            %span.fa.fa-caret-down
        %p.light.mb0= description
    %section.collapse.examples.mb8{ id: "#{section}_examples"}
      .container.contain-to-md
        = render "pages/examples/#{section}_examples"