= simple_form_for :user do |f|
  = f.input :username
  = f.input :password,     as: :password
  = f.input :description,  as: :text
  = f.input :acceptable,   as: :radio_buttons, item_wrapper_class: "mr1 line3"
  = f.input :are_you_sure, as: :check_boxes, item_wrapper_class: "mr1 line3"
  = f.button :submit

= simple_form_for :user, html: { class: "form-stacked" } do |f|
  = f.input :username
  = f.input :password,     as: :password
  = f.input :description,  as: :text
  = f.input :acceptable,   as: :radio_buttons, item_wrapper_class: "mr1 line3"
  = f.input :are_you_sure, as: :check_boxes, item_wrapper_class: "mr1 line3"
  = f.button :submit
