.grid.grid-c
  .g._3-4
    = simple_form_for :form_test, html: { class: "form-stacked" } do |f|
      = f.input :name,                        wrapper_html: { class: "m1" }
      = f.input :email,   as: :email,         wrapper_html: { class: "m1" }
      = f.input :message, as: :text,          wrapper_html: { class: "m1" }
      = f.input :radio1,  as: :radio_buttons, wrapper_html: { class: "m1" }, item_wrapper_class: "mr1"
      = f.input :check1,  as: :check_boxes,   wrapper_html: { class: "m1" }, item_wrapper_class: "mr1"
      = f.button :submit, "Submit", class: "btn btn-sm btn-primary"

= form_tag("/search", method: "get") do
  = label_tag(:q, "Search for:")
  = text_field_tag(:q)
  = submit_tag("Search")