!!!
%html
  = render "layouts/shared/head"
  %body
    = render "layouts/shared/nav"
    -#%aside.pos-fix.pos-b.pos-r.z10.p1.skin-gray-dark.right.trans-on-hover.js-site-help
    -#  = render "layouts/shared/site_helper"
    = yield
    = render "layouts/shared/footer"
    = render "layouts/shared/back_to_top"